<?xml version="1.0" encoding="UTF-8"?>
<!-- trace debug info warn error fatal -->
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="log-file" fileName="my-app.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-4level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="warn">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="org.ssa.ironyard.web" level="warn">
			<AppenderREf ref="log-file" />
		</Logger>
	</Loggers>
</Configuration>